 <h2 class="page-header text-center">Account Settings</h2>
<p class="text-center">Update your profile details or change password.</p>  

<div class="container">



<form method="post" action="/passwordReset">
<h4>Change Password</h4>

  <div class="form-group">
    <input type="password" class="form-control" name="password" placeholder="Enter new password">
  </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Reset Password</button>

</div>
</form>

</div>
</form>

