

<div class="container">

<div style="padding-left:20%; padding-right:20%;padding-top:5%">


<h2 class="page-header text-center">Reset Your Password</h2><br>
<form method="post" action="/login">
  <div class="form-group">
    <input type="text" class="form-control" name="username" placeholder="Enter your email here">
  </div>
  
      <button class="btn btn-lg btn-primary btn-block" type="submit">Reset Password</button>
      <p class="mt-5 mb-3 text-muted text-center">© 2018</p>
</form>
    </div>
    </div>