<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently working as a Software Engineer at 
      <a class="underline-link" href="https://www.securityadvisor.io/" target="_blank">SecurityAdvisor</a> converting innovtive
      ideas into code.
    </p>


    <p>
      As a developer, I enjoy building scalable and readable code &mdash; combining my chronophobia
      with my coding skills to provide the best algorithms. I also love to attend hackathons. I've been &mdash;
      attending hackathons for the past 3 years and won a few. On a mission to develop small yet effective algos.
      Used to be a freelancer got tired of html after 2 years and got into recommendation engines and relative
      intelligence &mdash;
      I believe relative intelligence is the best way to reach singularity :-).
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably fishing, hiking or crossing off another
      item on my bucket list.
    </p>

    {% include employment-status.html %}
  </div>
</section>
