<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently working as a Software Engineer at 
      <a class="underline-link" href="https://www.securityadvisor.io/" target="_blank">SecurityAdvisor</a> converting innovtive
      ideas into code.
    </p>


    <p>
      Used to work as a Research and Development Engineer at ZappyHire. Founded 2 failed startups. Been in love with tech for a long time. 
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably fishing, hiking or crossing off another
      item on my bucket list.
    </p>

    {% include employment-status.html %}
  </div>
</section>
