<!--b-nav-->
{%	extends 'base.html'	%}
{% block body %}
{% load static %}
    <section class="b-slider">
        <div id="carousel" class="slide carousel carousel-fade">
            <div class="carousel-inner">
                <div class="item active">
                    <img src="{% static 'bg/1.jpg' %}" alt="sliderImg" />
                    <div class="container">
                        <div class="carousel-caption b-slider__info">
                            <h3>Sign In</h3>
                            <h2>And Sell Your Books</h2>
                            <!--<p>Model 2015 <span>$184,900</span></p>-->
                            <a class="btn m-btn" href="{% static 'signin.html' %}">see details<span class="fa fa-angle-right"></span></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="{% static 'bg/8.jpg' %}" alt="sliderImg" />
                    <div class="container">
                        <div class="carousel-caption b-slider__info">
                            <h3>Find Your Book</h3>
                            <h2>At The Cheapest Rate</h2>
                            <!--<p>Model 2015 <span>$184,900</span></p>-->
                            <a class="btn m-btn" href="{% static 'detail.html' %}">see details<span class="fa fa-angle-right"></span></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="{% static 'bg/3.jpg' %}"  alt="sliderImg"/>
                    <div class="container">
                        <div class="carousel-caption b-slider__info">
                            <h3>Find your book</h3>
                            <h2>At The Cheapest Rate</h2>
                            <!--<p>Model 2015 <span>$184,900</span></p>-->
                            <a class="btn m-btn" href="{% static 'detail.html' %}">see details<span class="fa fa-angle-right"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control right" href="#carousel" data-slide="next">
                <span class="fa fa-angle-right m-control-right"></span>
            </a>
            <a class="carousel-control left" href="#carousel" data-slide="prev">
                <span class="fa fa-angle-left m-control-left"></span>
            </a>
        </div>
    </section><!--b-slider-->

    <section class="b-search">
        <div class="container">
            <form action="{% static 'listTable.html' %}" method="POST" class="b-search__main">
                <div class="b-search__main-title wow zoomInUp" data-wow-delay="0.3s">
                    <h2>ARE YOU LOOKING FOR BOOKS ? FIND THEM HERE CHEAPER THAN EVER</h2>
                </div>
                <div class="b-search__main-form wow zoomInUp" data-wow-delay="0.3s">
                    <div class="row">
                        <div class="col-xs-12 col-md-8">
                            <div class="m-firstSelects">
                                <div class="col-xs-4">
                                    <select name="select1">
                                        <option value="" selected="">Publication</option>
                                    </select>
                                    <span class="fa fa-caret-down"></span>
                                    <!--<p>MISSING MANUFACTURER?</p>-->
                                </div>
                                <div class="col-xs-4">
                                    <select name="select2">
                                        <option value="" selected="">Author</option>
                                    </select>
                                    <span class="fa fa-caret-down"></span>
                                    <!--<p>MISSING MODEL?</p>-->
                                </div>
                                <div class="col-xs-4">
                                    <select name="select3">
                                        <option value="" selected="">Book Status</option>
                                    </select>
                                    <span class="fa fa-caret-down"></span>
                                    <p>E.G:  NEW, USED</p>
                                </div>
                            </div>
                            <div class="m-secondSelects">
                                <div class="col-xs-4">
                                    <select name="select4">
                                        <option value="" selected="">College</option>
                                    </select>
                                    <span class="fa fa-caret-down"></span>
                                </div>
                                <div class="col-xs-4">
                                    <select name="select5">
                                        <option value="" selected="">Year</option>
                                    </select>
                                    <span class="fa fa-caret-down"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12 text-left s-noPadding">
                            <!--<div class="b-search__main-form-range">
                                <label>PRICE RANGE</label>
                                <div class="slider"></div>
                                <input type="hidden" name="min" class="j-min" />
                                <input type="hidden" name="max" class="j-max" />
                            </div>-->
                            <div class="b-search__main-form-submit">
                                <button type="submit" class="btn m-btn">Search For Book<span class="fa fa-angle-right"></span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section><!--b-search-->

    <!--<section class="b-featured">
        <div class="container">
            <h2 class="s-title wow zoomInUp" data-wow-delay="0.3s">Featured Vehicles</h2>
            <div id="carousel-small" class="owl-carousel enable-owl-carousel" data-items="4" data-navigation="true" data-auto-play="true" data-stop-on-hover="true" data-items-desktop="4" data-items-desktop-small="4" data-items-tablet="3" data-items-tablet-small="2">
                <div>
                    <div class="b-featured__item wow rotateIn" data-wow-delay="0.3s" data-wow-offset="150">
                        <a href="detail.html">
                            <img src="media/186x113/mers.jpg" alt="mers" />
                            <span class="m-premium">Premium</span>
                        </a>
                        <div class="b-featured__item-price">
                            $184,900
                        </div>
                        <div class="clearfix"></div>
                        <h5><a href="detail.html">MERCEDES-AMG GT / GT S</a></h5>
                        <div class="b-featured__item-count"><span class="fa fa-tachometer"></span>35,000 KM</div>
                        <div class="b-featured__item-links">
                            <a href="#">Used</a>
                            <a href="#">2014</a>
                            <a href="#">Manual</a>
                            <a href="#">Orange</a>
                            <a href="#">Petrol</a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="b-featured__item wow rotateIn" data-wow-delay="0.3s" data-wow-offset="150">
                        <a href="detail.html">
                            <img src="media/186x113/audi.jpg" alt="audi" />
                        </a>
                        <div class="b-featured__item-price">
                            $95,900
                        </div>
                        <div class="clearfix"></div>
                        <h5><a href="detail.html">AUDI R8 SPYDER V-8</a></h5>
                        <div class="b-featured__item-count"><span class="fa fa-tachometer"></span>0.00 KM</div>
                        <div class="b-featured__item-links">
                            <a href="#">Used</a>
                            <a href="#">2015</a>
                            <a href="#">Manual</a>
                            <a href="#">Orange</a>
                            <a href="#">Petrol</a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="b-featured__item wow rotateIn" data-wow-delay="0.3s" data-wow-offset="150">
                        <a href="detail.html">
                            <img src="media/186x113/aston.jpg" alt="aston" />
                            <span class="m-leasing">LEASING AVAILABLE</span>
                        </a>
                        <div class="b-featured__item-price">
                            $101,025
                        </div>
                        <div class="clearfix"></div>
                        <h5><a href="detail.html">ASTON MARTIN VANTAGE</a></h5>
                        <div class="b-featured__item-count"><span class="fa fa-tachometer"></span>35,000 KM</div>
                        <div class="b-featured__item-links">
                            <a href="#">Used</a>
                            <a href="#">2014</a>
                            <a href="#">Manual</a>
                            <a href="#">Orange</a>
                            <a href="#">Petrol</a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="b-featured__item wow rotateIn" data-wow-delay="0.3s" data-wow-offset="150">
                        <a href="detail.html">
                            <img src="media/186x113/jaguar.jpg" alt="jaguar" />
                        </a>
                        <div class="b-featured__item-price">
                            $130,825
                        </div>
                        <div class="clearfix"></div>
                        <h5><a href="detail.html">JAGUAR F-TYPE R</a></h5>
                        <div class="b-featured__item-count"><span class="fa fa-tachometer"></span>0.00</div>
                        <div class="b-featured__item-links">
                            <a href="#">Used</a>
                            <a href="#">2015</a>
                            <a href="#">Manual</a>
                            <a href="#">Orange</a>
                            <a href="#">Petrol</a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="b-featured__item wow rotateIn" data-wow-delay="0.3s" data-wow-offset="150">
                        <a href="detail.html">
                            <img src="media/186x113/mers.jpg" alt="mers" />
                            <span class="m-premium">Premium</span>
                        </a>
                        <div class="b-featured__item-price">
                            $184,900
                        </div>
                        <div class="clearfix"></div>
                        <h5><a href="detail.html">MERCEDES-AMG GT / GT S</a></h5>
                        <div class="b-featured__item-count"><span class="fa fa-tachometer"></span>35,000 KM</div>
                        <div class="b-featured__item-links">
                            <a href="#">Used</a>
                            <a href="#">2014</a>
                            <a href="#">Manual</a>
                            <a href="#">Orange</a>
                            <a href="#">Petrol</a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="b-featured__item wow rotateIn" data-wow-delay="0.3s" data-wow-offset="150">
                        <a href="detail.html">
                            <img src="media/186x113/audi.jpg" alt="audi" />
                        </a>
                        <div class="b-featured__item-price">
                            $95,900
                        </div>
                        <div class="clearfix"></div>
                        <h5><a href="detail.html">AUDI R8 SPYDER V-8</a></h5>
                        <div class="b-featured__item-count"><span class="fa fa-tachometer"></span>0.00 KM</div>
                        <div class="b-featured__item-links">
                            <a href="#">Used</a>
                            <a href="#">2015</a>
                            <a href="#">Manual</a>
                            <a href="#">Orange</a>
                            <a href="#">Petrol</a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="b-featured__item wow rotateIn" data-wow-delay="0.3s" data-wow-offset="150">
                        <a href="detail.html">
                            <img src="media/186x113/aston.jpg" alt="aston" />
                            <span class="m-leasing">LEASING AVAILABLE</span>
                        </a>
                        <div class="b-featured__item-price">
                            $101,025
                        </div>
                        <div class="clearfix"></div>
                        <h5><a href="detail.html">ASTON MARTIN VANTAGE</a></h5>
                        <div class="b-featured__item-count"><span class="fa fa-tachometer"></span>35,000 KM</div>
                        <div class="b-featured__item-links">
                            <a href="#">Used</a>
                            <a href="#">2014</a>
                            <a href="#">Manual</a>
                            <a href="#">Orange</a>
                            <a href="#">Petrol</a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="b-featured__item wow rotateIn" data-wow-delay="0.3s" data-wow-offset="150">
                        <a href="detail.html">
                            <img src="media/186x113/jaguar.jpg" alt="jaguar" />
                        </a>
                        <div class="b-featured__item-price">
                            $130,825
                        </div>
                        <div class="clearfix"></div>
                        <h5><a href="detail.html">JAGUAR F-TYPE R</a></h5>
                        <div class="b-featured__item-count"><span class="fa fa-tachometer"></span>0.00</div>
                        <div class="b-featured__item-links">
                            <a href="#">Used</a>
                            <a href="#">2015</a>
                            <a href="#">Manual</a>
                            <a href="#">Orange</a>
                            <a href="#">Petrol</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>--><!--b-featured-->

    
    <!--<section class="b-world">
        <div class="container">
            <h6 class="wow zoomInLeft" data-wow-delay="0.3s" data-wow-offset="100">EVERYTHING YOU NEED TO KNOW</h6><br />
            <h2 class="s-title wow zoomInRight" data-wow-delay="0.3s" data-wow-offset="100">THE WORLD OF BOOKS</h2>
            <div class="row">
                <div class="col-sm-4 col-xs-12">
                    <div class="b-world__item wow zoomInLeft" data-wow-delay="0.3s" data-wow-offset="100">
                        <img class="img-responsive" src="media/370x200/wolks.jpg" alt="wolks" />
                        <div class="b-world__item-val">
                            <span class="b-world__item-val-title">FIRST DRIVE REVIEW</span>
                            <div class="b-world__item-val-circles">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span class="m-empty"></span>
                            </div>
                            <span class="b-world__item-num">4.1</span>
                        </div>
                        <h2>2016 Volkswagen Golf R SportWagen</h2>
                        <p>Curabitur libero. Donec facilisis velit eu est. Phasellus cons quat. Aenean vitae quam. Vivamus et nunc. Nunc consequ
                            sem velde metus imperdiet lacinia.</p>
                        <a href="article.html" class="btn m-btn">READ MORE<span class="fa fa-angle-right"></span></a>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="b-world__item wow zoomInUp" data-wow-delay="0.3s" data-wow-offset="100">
                        <img class="img-responsive"  src="media/370x200/mazda.jpg" alt="mazda" />
                        <div class="b-world__item-val">
                            <span class="b-world__item-val-title">INSTRUMENTED TEST</span>
                            <div class="b-world__item-val-circles">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span class="m-halfEmpty"></span>
                            </div>
                            <span class="b-world__item-num">4.5</span>
                        </div>
                        <h2>2016 Mazda CX-5 2.5L AWD</h2>
                        <p>Curabitur libero. Donec facilisis velit eu est. Phasellus cons quat. Aenean vitae quam. Vivamus et nunc. Nunc consequ
                            sem velde metus imp         erdiet lacinia.</p>
                        <a href="article.html" class="btn m-btn m-active">READ MORE<span class="fa fa-angle-right"></span></a>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="b-world__item j-item wow zoomInRight" data-wow-delay="0.3s" data-wow-offset="100">
                        <img class="img-responsive"  src="media/370x200/chevrolet.jpg" alt="chevrolet" />
                        <div class="b-world__item-val">
                            <span class="b-world__item-val-title">BUYERS INFO</span>
                            <div class="b-world__item-val-circles">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <span class="b-world__item-num">5.0</span>
                        </div>
                        <h2>Advantages of Buying New or Used Vehicle</h2>
                        <p>Curabitur libero. Donec facilisis velit eu est. Phasellus cons quat. Aenean vitae quam. Vivamus et nunc. Nunc consequ
                            sem velde metus imp         erdiet lacinia.</p>
                        <a href="article.html" class="btn m-btn">READ MORE<span class="fa fa-angle-right"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>--><!--b-world-->

    <section class="b-asks">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-10 col-sm-offset-1 col-md-offset-0 col-xs-12">
                    <div class="b-asks__first wow zoomInLeft" data-wow-delay="0.3s" data-wow-offset="100">
                        <div class="b-asks__first-circle">
                            <span class="fa fa-search"></span>
                        </div>
                        <div class="b-asks__first-info">
                            <h2>ARE YOU LOOKING FOR A BOOK?</h2>
                            <p>Search Our Inventory With Thousands Of Books  And More
                                Books Are Adding On Daily Basis</p>
                        </div>
                        <div class="b-asks__first-arrow">
                            <a href="listingsTwo.html"><span class="fa fa-angle-right"></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-10 col-sm-offset-1 col-xs-12 col-md-offset-0">
                    <div class="b-asks__first m-second wow zoomInRight" data-wow-delay="0.3s" data-wow-offset="100">
                        <div class="b-asks__first-circle">
                            <span class="fa fa-usd"></span>
                        </div>
                        <div class="b-asks__first-info">
                            <h2>DO YOU WANT TO SELL A BOOK?</h2>
                            <p>Search Our Inventory With Thousands Of Books  And More
                                Books Are Adding On Daily Basis</p>
                        </div>
                        <div class="b-asks__first-arrow">
                            <a href="{% static 'listingsTwo.html' %}"><span class="fa fa-angle-right"></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <p class="b-asks__call wow zoomInUp" data-wow-delay="0.3s" data-wow-offset="100">QUESTIONS? CALL US  : <span>1-800- 624-5462</span></p>
                </div>
            </div>
        </div>
    </section><!--b-asks-->
    
    <section class="b-auto">
        <div class="container">
            <h5 class="s-titleBg wow zoomInLeft" data-wow-delay="0.3s" data-wow-offset="100">GIVING OUR CUSTOMERS BEST DEALS</h5><br />
            <h2 class="s-title wow zoomInRight" data-wow-delay="0.3s" data-wow-offset="100">BEST OFFERS FROM BOOKLY</h2>
            <div class="row">
                <div class="col-xs-5 col-sm-4 col-md-3">
                    <aside class="b-auto__main-nav wow zoomInLeft" data-wow-delay="0.3s" data-wow-offset="100">
                        <ul>
                            <li class="active"><a href="#">Subjects</a><span class="fa fa-angle-right"></span></li>
                            <li><a href="#">Mechanics</a></li>
                            <li><a href="#">Physics</a></li>
                            <li><a href="#">Chemistry</a></li>
                            <li><a href="#">Maths</a></li>
                            <li><a href="#">Data structures</a></li>
                            <li><a href="#">Design Project</a></li>
                            <li><a href="#">System Software</a></li>
                        </ul>
                        <div class="owl-buttons">
                            <div class="owl-prev j-tab" data-to='#first'></div>
                            <div class="owl-next j-tab" data-to='#second'></div>
                        </div>
                    </aside>
                </div>
                <div class="col-md-9 col-sm-8 col-xs-7">
                    <div class="b-auto__main">
                        <div class="col-md-11 col-md-offset-1 col-xs-12">
                            <a href="#"  class="b-auto__main-toggle s-lineDownCenter m-active j-tab wow zoomInLeft" data-wow-delay="0.3s" data-wow-offset="100" data-to="#first">MOST SELLING BOOKS</a>
                            <a href="#" class="b-auto__main-toggle j-tab wow zoomInRight" data-wow-delay="0.3s" data-wow-offset="100" data-to="#second">LATEST BOOKS ON SALE</a>
                        </div>
                        <div class="clearfix"></div>
                        <div class="row m-margin" id="first">
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="b-auto__main-item wow slideInUp" data-wow-delay="0.3s" data-wow-offset="100">
                                    <img class="img-responsive"  src="#" alt="mazda" />
                                    <div class="b-world__item-val">
                                        <span class="b-world__item-val-title">Printed <span>2014</span></span>
                                    </div>
                                    <h2><a href="detail.html">Textbook Name</a></h2>
                                    <div class="b-auto__main-item-info">
                                        <span class="m-price">
                                            price
                                        </span>
                                        <!--<span class="m-number">
                                            <span class="fa fa-tachometer"></span>35,000 KM
                                        </span>-->
                                    </div>
                                    <div class="b-featured__item-links m-auto">
                                        <a href="#">excellent condition</a>
                                        <a href="#">username or details</a>

                                    </div>
                                </div>
                            </div>
                            <!--<div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="b-auto__main-item wow slideInUp" data-wow-delay="0.3s" data-wow-offset="100">
                                    <img class="img-responsive"  src="media/270x150/acura2016.jpg" alt="mazda" />
                                    <div class="b-world__item-val">
                                        <span class="b-world__item-val-title">REGISTERED <span>2014</span></span>
                                    </div>
                                    <h2><a href="detail.html">2016 Acura NSX </a></h2>
                                    <div class="b-auto__main-item-info">
                                        <span class="m-price">
                                            $28,995
                                        </span>
                                        <span class="m-number">
                                            <span class="fa fa-tachometer"></span>5,000 KM
                                        </span>
                                    </div>
                                    <div class="b-featured__item-links m-auto">
                                        <a href="#">Used</a>
                                        <a href="#">2014</a>
                                        <a href="#">Manual</a>
                                        <a href="#">Orange</a>
                                        <a href="#">Petrol</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="b-auto__main-item wow slideInUp" data-wow-delay="0.3s" data-wow-offset="100">
                                    <img class="img-responsive"  src="media/270x150/amg.jpg" alt="mazda" />
                                    <div class="b-world__item-val">
                                        <span class="b-world__item-val-title">REGISTERED <span>2014</span></span>
                                    </div>
                                    <h2><a href="detail.html">2015 Mercedes-AMG C63</a></h2>
                                    <div class="b-auto__main-item-info">
                                        <span class="m-price">
                                            $95,900
                                        </span>
                                        <span class="m-number">
                                            <span class="fa fa-tachometer"></span>12,000 KM
                                        </span>
                                    </div>
                                    <div class="b-featured__item-links m-auto">
                                        <a href="#">Used</a>
                                        <a href="#">2014</a>
                                        <a href="#">Manual</a>
                                        <a href="#">Orange</a>
                                        <a href="#">Petrol</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="b-auto__main-item wow slideInUp" data-wow-delay="0.3s" data-wow-offset="100">
                                    <img class="img-responsive"  src="media/270x150/brabus.jpg" alt="mazda" />
                                    <div class="b-world__item-val">
                                        <span class="b-world__item-val-title">REGISTERED <span>2014</span></span>
                                    </div>
                                    <h2><a href="detail.html">Brabus 850 6.0 Biturbo Coupe</a></h2>
                                    <div class="b-auto__main-item-info">
                                        <span class="m-price">
                                            $28,995
                                        </span>
                                        <span class="m-number">
                                            <span class="fa fa-tachometer"></span>5,000 KM
                                        </span>
                                    </div>
                                    <div class="b-featured__item-links m-auto">
                                        <a href="#">Used</a>
                                        <a href="#">2014</a>
                                        <a href="#">Manual</a>
                                        <a href="#">Orange</a>
                                        <a href="#">Petrol</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="b-auto__main-item wow slideInUp" data-wow-delay="0.3s" data-wow-offset="100">
                                    <img class="img-responsive"  src="media/270x150/range.jpg" alt="mazda" />
                                    <div class="b-world__item-val">
                                        <span class="b-world__item-val-title">REGISTERED <span>2014</span></span>
                                    </div>
                                    <h2><a href="detail.html">Land Rover Range Rover</a></h2>
                                    <div class="b-auto__main-item-info">
                                        <span class="m-price">
                                            $44,380
                                        </span>
                                        <span class="m-number">
                                            <span class="fa fa-tachometer"></span>35,000 KM
                                        </span>
                                    </div>
                                    <div class="b-featured__item-links m-auto">
                                        <a href="#">Used</a>
                                        <a href="#">2014</a>
                                        <a href="#">Manual</a>
                                        <a href="#">Orange</a>
                                        <a href="#">Petrol</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row m-margin" id="second">
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="b-auto__main-item wow slideInUp" data-wow-delay="0.3s" data-wow-offset="100">
                                    <img class="img-responsive"  src="media/270x150/acura.jpg" alt="mazda" />
                                    <div class="b-world__item-val">
                                        <span class="b-world__item-val-title">REGISTERED <span>2014</span></span>
                                    </div>
                                    <h2><a href="detail.html">Acura RLX Sport Hybrid</a></h2>
                                    <div class="b-auto__main-item-info">
                                        <span class="m-price">
                                            $44,380
                                        </span>
                                        <span class="m-number">
                                            <span class="fa fa-tachometer"></span>35,000 KM
                                        </span>
                                    </div>
                                    <div class="b-featured__item-links m-auto">
                                        <a href="#">Used</a>
                                        <a href="#">2014</a>
                                        <a href="#">Manual</a>
                                        <a href="#">Orange</a>
                                        <a href="#">Petrol</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="b-auto__main-item wow slideInUp" data-wow-delay="0.3s" data-wow-offset="100">
                                    <img class="img-responsive"  src="media/270x150/acura.jpg" alt="mazda" />
                                    <div class="b-world__item-val">
                                        <span class="b-world__item-val-title">REGISTERED <span>2014</span></span>
                                    </div>
                                    <h2><a href="detail.html">Acura RLX Sport Hybrid</a></h2>
                                    <div class="b-auto__main-item-info">
                                        <span class="m-price">
                                            $44,380
                                        </span>
                                        <span class="m-number">
                                            <span class="fa fa-tachometer"></span>35,000 KM
                                        </span>
                                    </div>
                                    <div class="b-featured__item-links m-auto">
                                        <a href="#">Used</a>
                                        <a href="#">2014</a>
                                        <a href="#">Manual</a>
                                        <a href="#">Orange</a>
                                        <a href="#">Petrol</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="b-auto__main-item wow slideInUp" data-wow-delay="0.3s" data-wow-offset="100">
                                    <img class="img-responsive"  src="media/270x150/acura.jpg" alt="mazda" />
                                    <div class="b-world__item-val">
                                        <span class="b-world__item-val-title">REGISTERED <span>2014</span></span>
                                    </div>
                                    <h2><a href="detail.html">Acura RLX Sport Hybrid</a></h2>
                                    <div class="b-auto__main-item-info">
                                        <span class="m-price">
                                            $44,380
                                        </span>
                                        <span class="m-number">
                                            <span class="fa fa-tachometer"></span>35,000 KM
                                        </span>
                                    </div>
                                    <div class="b-featured__item-links m-auto">
                                        <a href="#">Used</a>
                                        <a href="#">2014</a>
                                        <a href="#">Manual</a>
                                        <a href="#">Orange</a>
                                        <a href="#">Petrol</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="b-auto__main-item wow slideInUp" data-wow-delay="0.3s" data-wow-offset="100">
                                    <img class="img-responsive"  src="media/270x150/acura.jpg" alt="mazda" />
                                    <div class="b-world__item-val">
                                        <span class="b-world__item-val-title">REGISTERED <span>2014</span></span>
                                    </div>
                                    <h2><a href="detail.html">Acura RLX Sport Hybrid</a></h2>
                                    <div class="b-auto__main-item-info">
                                        <span class="m-price">
                                            $44,380
                                        </span>
                                        <span class="m-number">
                                            <span class="fa fa-tachometer"></span>35,000 KM
                                        </span>
                                    </div>
                                    <div class="b-featured__item-links m-auto">
                                        <a href="#">Used</a>
                                        <a href="#">2014</a>
                                        <a href="#">Manual</a>
                                        <a href="#">Orange</a>
                                        <a href="#">Petrol</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="b-auto__main-item wow slideInUp" data-wow-delay="0.3s" data-wow-offset="100">
                                    <img class="img-responsive"  src="media/270x150/acura.jpg" alt="mazda" />
                                    <div class="b-world__item-val">
                                        <span class="b-world__item-val-title">REGISTERED <span>2014</span></span>
                                    </div>
                                    <h2><a href="detail.html">Acura RLX Sport Hybrid</a></h2>
                                    <div class="b-auto__main-item-info">
                                        <span class="m-price">
                                            $44,380
                                        </span>
                                        <span class="m-number">
                                            <span class="fa fa-tachometer"></span>35,000 KM
                                        </span>
                                    </div>
                                    <div class="b-featured__item-links m-auto">
                                        <a href="#">Used</a>
                                        <a href="#">2014</a>
                                        <a href="#">Manual</a>
                                        <a href="#">Orange</a>
                                        <a href="#">Petrol</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="b-auto__main-item wow slideInUp" data-wow-delay="0.3s" data-wow-offset="100">
                                    <img class="img-responsive"  src="media/270x150/acura.jpg" alt="mazda" />
                                    <div class="b-world__item-val">
                                        <span class="b-world__item-val-title">REGISTERED <span>2014</span></span>
                                    </div>
                                    <h2><a href="detail.html">Acura RLX Sport Hybrid</a></h2>
                                    <div class="b-auto__main-item-info">
                                        <span class="m-price">
                                            $44,380
                                        </span>
                                        <span class="m-number">
                                            <span class="fa fa-tachometer"></span>35,000 KM
                                        </span>
                                    </div>
                                    <div class="b-featured__item-links m-auto">
                                        <a href="#">Used</a>
                                        <a href="#">2014</a>
                                        <a href="#">Manual</a>
                                        <a href="#">Orange</a>
                                        <a href="#">Petrol</a>
                                    </div>
                                </div>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!--b-auto-->

    <section class="b-count">
        <div class="container">
            <div class="row">
                <div class="col-md-11 col-xs-12 percent-blocks m-main" data-waypoint-scroll="true">
                    <div class="row">
                        <div class="col-sm-3 col-xs-6">
                            <div class="b-count__item">
                                <div class="b-count__item-circle">
                                    <span class="fa fa-book"></span>
                                </div>
                                <div class="chart" data-percent="5000">
                                    <h2  class="percent">5000</h2>
                                </div>
                                <h5>books in stock</h5>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                            <div class="b-count__item">
                                <div class="b-count__item-circle">
                                    <span class="fa fa-users"></span>
                                </div>
                                <div class="chart" data-percent="3100">
                                    <h2  class="percent">3100</h2>
                                </div>
                                <h5>HAPPY CUSTOMER REVIEWS</h5>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                            <div class="b-count__item">
                                <div class="b-count__item-circle">
                                    <span class="fa fa-building-o"></span>
                                </div>
                                <div class="chart" data-percent="54">
                                    <h2  class="percent">54</h2>
                                </div>
                                <h5>DEALERS</h5>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                            <div class="b-count__item j-last">
                                <div class="b-count__item-circle">
                                    <span class="fa fa-suitcase"></span>
                                </div>
                                <div class="chart" data-percent="547">
                                    <h2  class="percent">547</h2>
                                </div>
                                <h5>FREE BOOKS GIVEN</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!--b-count-->

    <section class="b-contact">
        <div class="container">
            <div class="row wow zoomInLeft" data-wow-delay="0.3s" data-wow-offset="100">
                <div class="col-xs-4">
                    <div class="b-contact-title">
                        <h5>LATEST NEWS &amp; DEALS</h5><br />
                        <h2>NEWSLETTER SIGNUP</h2>
                    </div>
                </div>
                <div class="col-xs-8">
                    <div class="b-contact__form">
                        <p>WE SEND GREAT DEALS AND LATEST BOOK NEWS TO OUR SUBSCRIBED USERS EVERY WEEK. ITS FREE SO SUBSCRIBE TODAY!</p>
                        <form  method="POST">
                            <div><span class="fa fa-user"></span><input type="text" name="user" value="" placeholder="Your Name" /></div>
                            <div><span class="fa fa-envelope"></span><input type="text" name="email" value="" placeholder="Your Email" /></div>
                            <button type="submit"><span class="fa fa-angle-right"></span></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section><!--b-contact-->
    <div class="b-features">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-md-offset-3 col-xs-6 col-xs-offset-6">
                    <ul class="b-features__items">
                        <li class="wow zoomInUp" data-wow-delay="0.3s" data-wow-offset="100">Low Prices, No Haggling</li>
                        <li class="wow zoomInUp" data-wow-delay="0.3s" data-wow-offset="100">Largest Book Collection</li>
                        <li class="wow zoomInUp" data-wow-delay="0.3s" data-wow-offset="100">Assured Quality</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}<!--b-features-->
